
@import '../partials/vars';

@mixin link-focus {
  outline: $focus-yellow solid 3px;

  &:active {
    color: $mid-blue;
  }
}

@mixin focus {
  outline: $focus-yellow solid 3px;
}

@mixin active {
  background-color: $focus-yellow;
}

@mixin red-underline {
  border-bottom: 2px solid $great-red;
}

@mixin adaptive-focus($colour) {
  @include link-focus;
  color: adaptive-color($colour);
}
