
@import 'partials/default';
@import 'partials/vars';
@import 'partials/mixins';

.industries {
  padding-top: $spacing-1;
}

a.labelled-card {
  min-height: auto;

  .card-inner {
    display: none;
  }
}
