{% load i18n %}
{% get_current_language as lang_code %}

<header id="invest-header">
  <a id="skip-link" href="#content" class="visually-hidden">Skip to main content</a>

  <div class="header-bar">
    <div class="container">
      <a class="header-logo" href="/">
        <img tabindex="-1" src="https://invest-cms-prod.s3.amazonaws.com/images/UK_Gov_STACK_WHITE_AW.original.width-176.png" srcset="https://invest-cms-prod.s3.amazonaws.com/images/UK_Gov_STACK_WHITE_AW.original.width-352.png 2x" alt="" />
      </a>
      <div class="language-toggle" id="language-selector-activator">
        <a href="" aria-label="Show language selector" class="LanguageSelectorDialog-Tracker">
          <span class="lang">{{ lang_code }}</span>
        </a>
      </div>
    </div>
  </div>

  <div class="header-menu">
    <div class="container">
      <button class="header-menu-activator" aria-expanded="false" aria-label="Toggle navigation">Menu<span></span></button>
      <nav class="header-links-list">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="{% url 'industries' %}">Industries</a></li>
          <li><a href="{% url 'setup-guide' %}">UK setup guide</a></li>
          <li><a href="/contact">Contact us</a></li>
        </ul>
      </nav>
    </div>
  </div>

</header>
