<section class="hero" style="background-image: url('https://invest-cms-prod.s3.amazonaws.com/images/IIGB_Hero1.width-3840.format-jpeg.jpegquality-100.jpg')">
  <div class="container">
    <div class="hero-text">
      <h1 class="heading-xlarge">THE UK: THE BEST PLACE FOR YOUR BUSINESS.</h1>
      <h2 class="heading-medium">The UK government helps thousands of overseas businesses move here every year with expert help and advice.</h2>
    </div>
    <div class="hero-brand">
      <img src="https://invest-cms-prod.s3.amazonaws.com/images/IIG_Invest_in_GREAT_White_WITH_Flag_-_logo.ori.width-296.png" alt="">
    </div>
  </div>
</section>
