{% extends 'core/base.html' %}
{% load i18n %}

{% block content %}

  {% trans "Contact us" as page_title %}
  {% include 'directory_components/hero.html' with hero_text=page_title %}

  <section class="contact-success">
    <div class="container">
      <div class="grid-row">
        <div class="column-two-thirds">
          <h2 class="heading-large">{% trans "Thank you for contacting the Department for International Trade about your investment plans." %}</h2>
          <p>{% trans "We have received the information you sent through the Invest in Great Britain website and will aim to follow up with you in the next 7 days. Your enquiry may be forwarded to a local post for follow up. The Department for International Trade provides free and impartial advice to companies around the world interested in doing business in the UK. We look forward to welcoming you as one of the many companies to enjoy success in the UK." %}</p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
